@font-face {
	font-family: "iconFont";
	src: url('/static/fonts/iconFont.eot');
	src: url('/static/fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/iconFont.svg#iconFont') format('svg'), url('/static/fonts/iconFont.woff') format('woff'), url('/static/fonts/iconFont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
section [class^="icon-"],
section [class*=" icon-"] {
	font-family: "iconFont";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	position: relative;
}
section [class^="icon-"]:before,
section [class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}
section a [class^="icon-"],
section a [class*=" icon-"] {
	display: inline-block;
}

html { height: 100%; }
body {
	font: normal 1em sans-serif;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #f2f2f2;
	text-shadow: -1px 0 #dddddd, 0 1px #dddddd, 1px 0 #dddddd, 0 -1px #dddddd;
	-webkit-transition: color 0.25s linear;
		 -moz-transition: color 0.25s linear;
		-ms-transition: color 0.25s linear;
		 -o-transition: color 0.25s linear;
			transition: color 0.25s linear;
}

header, footer {
	position: fixed;
	text-align: center;
	background-color: white;
	width: 100%;
	box-shadow: 0px 0px 8px 1px #a1a1a1;
	min-width: 355px;	
}

footer {
	bottom: 0;
	min-height: 2em;
}

footer>form {
	padding: 5px;
}

footer>form input:not([type=submit]):not([type=file]) {
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 3px 1px #a1a1a1 inset;
	font-size: 200%;
	width: 80%;
	padding-left: 5px;
}

#topics {
	-webkit-column-count: 6;
	-webkit-column-gap: 0;
	padding-top: 6em;
	height: 83%;
	overflow-x: auto;
}

div.topic {
	padding: 5px;
	-webkit-column-break-inside: avoid;
}

.topic>div {	
	padding: 10px;
	background-color: #F9F6F4;
	border: 1px solid #dddddd;
}

.topic p {
	margin: 0;
}

.approval {
	text-align: right;
}

.approval a {
	margin: 3px;
}

.approval .icon-approve {
	color: rgb(200, 200, 130);
}

.approval .icon-deny {
	color: rgb(255, 200, 200);
}

.approval .icon-approve:before {
	content: "\e08a";
}

.approval .icon-deny:before {
	content: "\e089";
}

.approval a[class="icon-approve"]:hover {
	color: rgb(45, 200, 0);
}

.approval a[class="icon-deny"]:hover {
	color: rgb(255, 0, 0);
}